<a href="https://colab.research.google.com/github/rishikeshpagadala/ML-lab/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
 
n1=int(input("enter n1 value:"))
n2=int(input("enter n2 vlaue:"))
sum=n1+n2
mul=n1*n2
div=n1/n2
sub=n1-n2
modulo=n1%n2
print("the sum of two numbers is:",sum)
print("the mulitplication of two numbers is:",mul)
print("the division of two numbers is:",div)
print("the subtraction of two numbers is:",sub)
print("the modulodivision of two numbers is:",modulo)

enter n1 value:10
enter n2 vlaue:20
the sum of two numbers is: 30
the mulitplication of two numbers is: 200
the division of two numbers is: 0.5
the subtraction of two numbers is: -10
the modulodivision of two numbers is: 10

In [0]:
 
n1=int(input("enter n1 value:"))
n2=int(input("enter n2 vlaue:"))
sum=n1+n2
mul=n1*n2
div=n1/n2
sub=n1-n2
modulo=n1%n2
print("the sum of two numbers is:",sum)
print("the mulitplication of two numbers is:",mul)
print("the division of two numbers is:",div)
print("the subtraction of two numbers is:",sub)
print("the modulodivision of two numbers is:",modulo)

enter n1 value:20
enter n2 vlaue:40
the sum of two numbers is: 60
the mulitplication of two numbers is: 800
the division of two numbers is: 0.5
the subtraction of two numbers is: -20
the modulodivision of two numbers is: 20

In [0]:
 
Kumarswamy=[10,20,30,50,60]
for x in Kumarswamy:
  print("The value of x=",x)
  y=x+30
  print("The value of y=",y)

The value of x= 10
The value of y= 40
The value of x= 20
The value of y= 50
The value of x= 30
The value of y= 60
The value of x= 50
The value of y= 80
The value of x= 60
The value of y= 90

In [0]:
 
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [0]:
 
x=int(input("enter a number"))
while x<=15:
  print(x)
  x=x+1

enter a number4
4
5
6
7
8
9
10
11
12
13
14
15

In [0]:
 
Kumarswamy=["aditya",'srikatnh','chinabau','Hemanth','Satya','RajaNaidu']
for x in Kumarswamy:
  print(x)

aditya
srikatnh
chinabau
Hemanth
Satya
RajaNaidu