<a href="https://colab.research.google.com/github/rishikeshpagadala/ML-lab/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("hello world")

hello world

In [2]:
n1=int(input("enter n1 value:"))
n2=int(input("enter n2 vlaue:"))
sum=n1+n2
mul=n1*n2
div=n1/n2
sub=n1-n2
modulo=n1%n2
print("the sum of two numbers is:",sum)
print("the mulitplication of two numbers is:",mul)
print("the division of two numbers is:",div)
print("the subtraction of two numbers is:",sub)
print("the modulodivision of two numbers is:",modulo)

enter n1 value:20
enter n2 vlaue:30
the sum of two numbers is: 50
the mulitplication of two numbers is: 600
the division of two numbers is: 0.6666666666666666
the subtraction of two numbers is: -10
the modulodivision of two numbers is: 20

In [4]:
n1=int(input("enter n1 vlaue"))
n2=int(input("enter n2 vlaue"))
if n1==10:
  print("enter number is equal to n1:")
elif n2==20:
  print("enter number is equal to n2:")
else:
  print("enter nubers are not equal to given numbers")

enter n1 vlaue10
enter n2 vlaue20
enter number is equal to n1:

In [5]:
n1=int(input("enter n1 vlaue"))
n2=int(input("enter n2 vlaue"))
if n1==10:
  print("enter number is equal to n1:")
elif n2==20:
  print("enter number is equal to n2:")
else:
  print("enter nubers are not equal to given numbers")

enter n1 vlaue30
enter n2 vlaue40
enter nubers are not equal to given numbers

In [8]:
Rishi=[100,200,300,500,600]
for x in Rishi:
  print("The value of x=",x)
  y=x+30
  print("The value of y=",y)

The value of x= 100
The value of y= 130
The value of x= 200
The value of y= 230
The value of x= 300
The value of y= 330
The value of x= 500
The value of y= 530
The value of x= 600
The value of y= 630

In [12]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
x=int(input("enter a number"))
while x<=15:
  print(x)
  x=x+1

enter a number1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [14]:
Rishi=["aditya",'srikatnh','chinabau','Hemanth','Satya','RajaNaidu']
for x in Rishi:
  print(x)

aditya
srikatnh
chinabau
Hemanth
Satya
RajaNaidu

In [17]:
pi=3.14
r=int(input("enter the radius of the circle:"))
area=pi*r*r
area=print("area of the circle is:",area)

enter the radius of the circle:3
area of the circle is: 28.259999999999998

In [19]:
n1=int(input("enter n1 vlaue"))
n2=int(input("enter n2 vlaue"))
n3=n1**n2
print("the power of value ",n3)

enter n1 vlaue5
enter n2 vlaue3
the power of value  125